.timerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.timer p {
  font-size: 1px;
  text-align: center;
  max-width: 150px;
}

.text {
  color: #aaa;
  text-align: center;
}
.subtext {
  color: #aaa;
}

.value {
  font-size: 4rem;
}