.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
}

.copy {
  width: 10rem;
  height: 2rem;
}

.buttonRow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.audio {
  position: absolute;
  left: 100px;
}
